<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="userDB" value="Siccob"/>
		<add key="passwordDB" value="Siccob10"/>
		<add key="hostDB" value="localhost"/>
		<add key="CinemaCode" value="9999"/>
		<add key="WorkstationName" value="KIOSK01"/>
		<add key="minimumMoney" value="5"/>
		<add key="minimumBill" value="3"/>
	</appSettings>
</configuration>